html, body {
  margin: 0;
  padding: 0;
  width:100%;
  overflow:hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

menu{
margin: 0;
padding: 0;
width:100%;
}
canvas {
  display: block;
  
}


label{

  width:0px;
  height:0px;

  color:white;

  cursor:pointer;
  text-decoration:none;
  -webkit-user-select: none;
  font-size:1.5em;
  text-align:LEFT;
  transition-duration: 1s;

  
}

button,img{
  margin:4px;
  border: 1px solid #222222;
  padding-left:5px;
  border-radius: .2em;
  height:8vh; 
  color:white;
  background-color: #CCCCCC;
  cursor: pointer;
  text-decoration:none;
  -webkit-user-select: none;
  font-size:1.5em;
  
  text-align:CENTER;
  transition-duration: 1s;

}
img{
  padding-left:0px;
  width:8vh;
  height:8vh;
}

button:hover,img:hover{
  background-color: #555555;
  transition-duration: 1s;
}